.box-list {
    width: 100%;
    .card {
        margin-top: 0.5rem;
        .card-text {
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
             -khtml-user-select: none; /* Konqueror HTML */
               -moz-user-select: none; /* Old versions of Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                    user-select: none; /* Non-prefixed version, currently
                                          supported by Chrome, Edge, Opera and Firefox */
        }
    }
    .card.selected {
        border: 3px solid black;
    }
    .card:not(.selected) {
        border: 3px solid transparent;
    }
}