.home {
    padding-top: 7%;
    z-index: 2;
    .display-message {
        font-family: 'Open Sans', monospace;
        color: #ffffff;
        text-align: center;
        color: #daf6ff;
        text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
        letter-spacing: 0.05em;
        font-size: 80px;
        padding: 5px 0;
    }
}